body {
    margin: 0px;
}

.header {
    background-color: #000000;
    color: white;
} 
.header > .nav-bar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .nav-bar > .nav > .explore {
    color: gold;
}

label {
    color: gray;
}

select {
    border-width: 0px;
    color: gray;
    background-color: transparent;
}

.buttons > button{
    border-width: 0px;
    background-color: #737373;
}